body{
    background-color: black;
}

.centerButton button{
    border-radius: 6px;
    background-color: black;
    color: white;
    margin-top: 45vh;
    padding: 3vh 3vw;
    font-size: 2em;
}

.divThatOutputsText{
    display: flex;
    justify-content: center;
    margin-top: 22vh;
    color: white;
}

#idOutputText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#counter{
    color: white;
}

.timerDiv{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}