body{
    background-color: black;
}


.arrowKeysPicture{
    height: 25vh;
    width: 20vw;
    margin-right: 12vw;
}

#pictureDiv{
    display: flex;
    justify-content: flex-end;
}

.centerButton button{
    border-radius: 6px;
    background-color: black;
    color: white;
    margin-top: 45vh;
}

.divThatOutputsText{
    display: flex;
    justify-content: center;
    margin-top: 22vh;
    color: white;
}

#idOutputText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#timer{
    color: white;
}