.container{
    background-color: black;
    height: 100vh;
}

.start-game h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7em;
    color: white;
}

.start-game{
    text-align: center;
    display
}

.start-game button{
    font-size: 7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    border-radius: 8px;
    /* align-content: center;   */
    margin-top: 30vh;
}

button:hover{
    background-color: red;
}

.game-rules{
    display: flex;
    /* align-self: center; */
    /* width: 100vw; */
    height: 18vh;
    margin-top: 10vh;
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

